.home-button {
  height: 35px;

  font-size: 15px;
  padding: 0 28px !important;
  margin: 30px;
}

.title-home {
  display: flex;
  align-items: center;
  font-size: 5rem;
  flex-direction: column;
}

.Back-image {
  position: relative;
}

.img-bg {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  width: 100%;
  left: 0px;
  object-fit: cover;
  top: -55px;
  height: calc(100% + 55px);
  object-position: 0px -150px;
}

.invitation-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
  text-justify: center;
}

.cont-home {
  margin: 40px;
  text-align: center;
}
