.dashed-line-plane {
  border-top: 1px dashed #000;
  width: 50%;
  height: 1px;
}

.title-home {
  display: flex;
  align-items: center;
  font-size: 5rem;
  flex-direction: column;
}

.Back-image {
  position: relative;
}
.cont-home {
  margin: 40px;
  text-align: center;
}

.img-bg {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  width: 100%;
  left: 0px;
  object-fit: cover;
  top: -55px;
  height: calc(100% + 55px);
  object-position: 0px -150px;
}

.invitation-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
  text-justify: center;
}

/* QUESTIONS SECTION START */
.card-questions-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card-questions-icons svg {
  transition: all 0.5s;
  filter: drop-shadow(0 0 0.75rem #fff);
}
.card-questions-icons:hover svg {
  transform: scale(1.2);
  filter: drop-shadow(0 0 0.75rem #dfdfdf);
}
.card-questions-icons:hover .fa-dollar-sign {
  color: #e3d400;
}

.card-questions-icons:hover .fa-map-location-dot {
  color: #03c100;
}

.card-questions-icons:hover .fa-people-line {
  color: #0071e3;
}
/* QUESTIONS SECTION END */
